.item_container {
  height: 400px;
  width: 280px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0;
  padding: 10px 0;
}

.item_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33.3%;
}

.item_header img{
  max-width: 100%;
  max-height: 100%;
}

.item_header_title{
  width: 276px;
  position: absolute;
  word-wrap: break-word;
  background: #0d7110;
  opacity: 90%;
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 0 2px;
}

.item_statistics{
  word-wrap: break-word;
  height: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 2px 2px 20px;
}

.item_statistics_row{
  height: 33.3%;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.item_statistics img{
  flex: 0 0 auto;
  height: 25px;
  width: 25px;
  padding-right: 5px;
}

.item_statistics_row_text{
  flex: 1 1 auto;
  text-align: center;
  word-wrap: break-word;
}

.item_description{
  height: 33.3%;
  padding: 0 2px;
}
