.pagination_container{
  min-width: 100vw;
  overflow: hidden;
  padding: 20px 0;
}

.page{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination_panel{
  background-color: #0d7110;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.pagination_panel_container{
  display: flex;
  justify-content: center;
}

.page_button{
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 15px;
  margin: 0 5px;
  font-size: 15px;
}

.move_back{
  height: 30px;
  width: 30px;
  margin-right: 30px;
  font-size: 15px;
}

.move_forward{
  height: 30px;
  width: 30px;
  margin-left: 30px;
  font-size: 15px;
}
