<div class="pagination_container">
  <div class="page">
    <div *ngFor="let item of currentPageItems">
      <app-item [item]="item"></app-item>
    </div>
  </div>
  <div class="pagination_panel">
    <div *ngIf="paginationParameters.isPaginationPanelEnabled" class="pagination_panel_container">
      <button *ngIf="paginationParameters.isMoveBackEnabled" class="move_back"
              (click)="moveCurrentPage(-1)">
        <
      </button>
      <div *ngFor="let i of [0,1,2,3]">
        <button class="page_button"
                style="{{paginationParameters.currentPage+1==paginationParameters.pageButtons[i]?'background-color:red; color:white':''}}"
                (click)="setCurrentPage(paginationParameters.pageButtons[i])"
                [disabled]="paginationParameters.isButtonsDisabled">
          {{paginationParameters.pageButtons[i]}}
        </button>
      </div>
      <button *ngIf="paginationParameters.isMoveForwardEnabled" class="move_forward"
              (click)="moveCurrentPage(1)"
              [disabled]="paginationParameters.isButtonsDisabled">
        >
      </button>
    </div>
  </div>
</div>
