.wrapper {
  overflow: hidden;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 98vw;
}
.search{
  padding: 20px 0;
}

.content{

}
