<div class="wrapper">
<!--  <div class="container">-->
<!--    <div class="content">-->
<!--      <div class="search_container">-->
<!--        <div class="search">-->
<!--          <input #input type="text" class="search-field" placeholder="Найди своё видео">-->
<!--          <img src="/assets/search-icon.svg" alt="" class="search-icon">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="results">-->
<!--        <div class="page">-->
<!--          <div class="clip" *ngFor="let item of items.slice(currentPage*listSize,(currentPage+1)*listSize);">-->
<!--            <a href="https://www.youtube.com/watch?v={{item.id}}" target="_blank">-->
<!--              <div class="clip_header">-->
<!--                <img src={{item.snippet.thumbnails.medium.url}}>-->
<!--                <div class="clip_header_title"> {{item.snippet.title}}</div>-->
<!--              </div>-->
<!--            </a>-->
<!--            <div class="clip_info">-->
<!--              <div class = "clip_info_container">-->
<!--                <div class="clip_info_row">-->
<!--                  <img src="/assets/person-icon.svg" alt="" class="person-icon">-->
<!--                  <div class="info_text">{{item.snippet.channelTitle}}</div>-->
<!--                </div>-->
<!--                <div class="clip_info_row">-->
<!--                  <img src="/assets/calendar-icon.svg" alt="" class="calendar-icon">-->
<!--                  <div class="info_text">{{item.snippet.publishedAt | date:'dd.MM.yyyy'}}</div>-->
<!--                </div>-->
<!--                <div class="clip_info_row">-->
<!--                  <img src="/assets/eye-icon.svg" alt="" class="eye-icon">-->
<!--                  <div class="info_text">{{item.statistics.viewCount | formatNumber}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>{{item.snippet.description | cutText}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="pagination_panel">-->
<!--        <div *ngIf="paginationPanelEnabled" class="pagination_container">-->
<!--          <button *ngIf="moveBackEnabled" class="move_back"-->
<!--                  (click)="moveCurrentPage(-1)">-->
<!--            <-->
<!--          </button>-->
<!--          <div *ngFor="let i of [0,1,2,3];">-->
<!--            <button class="page_button"-->
<!--                    style="{{currentPage+1==pageButtons[i]?'background-color:red; color:white':''}}"-->
<!--                    (click)="setCurrentPage(pageButtons[i])"-->
<!--                    [disabled]="buttonDisabled">-->
<!--              {{pageButtons[i]}}-->
<!--            </button>-->
<!--          </div>-->
<!--          <button *ngIf="moveForwardEnabled" class="move_forward"-->
<!--                  (click)="moveCurrentPage(1)"-->
<!--                  [disabled]="buttonDisabled">-->
<!--            >-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <app-input (inputValue)="getResultsByInputValue($event)"></app-input>
  <app-pagination [isButtonsDisabled]="isButtonsDisabled" [items]="items" [refreshPage]="refreshPage"></app-pagination>
</div>

