<div class="wrapper">
  <div class="container">
    <div class="content">
      <div class="search_container">
        <div class="search">
          <input #input type="text" class="search-field" placeholder="Найди своё видео">
          <img src="/assets/search-icon.svg" alt="" class="search-icon">
        </div>
      </div>
      <div class="results">
        <div class="page">
          <div class="clip" *ngFor="let item of items.slice(currentPage*listSize,(currentPage+1)*listSize);">
            <div class="clip_header">
              <img src={{item.snippet.thumbnails.medium.url}}>
              <div class="clip_header_title"> {{item.snippet.title}}</div>
            </div>
            <div class="clip_info">
              <p>Channel: {{item.snippet.channelTitle}}</p>
              <p>Published at: {{item.snippet.publishedAt | date:'dd.MM.yyyy'}}</p>
              <p>Like count: {{item.statistics.likeCount | formatNumber}}</p>
              <p>View count: {{item.statistics.viewCount | formatNumber}}</p>
              <p>Video description: {{item.snippet.description | cutText}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination_panel">
        <div *ngIf="paginationPanelEnabled" class="pagination_container">
          <button *ngIf="moveBackEnabled" class="move_back" (click)="moveCurrentPage(-1)"><</button>
          <div *ngFor="let i of [0,1,2,3];">
            <button class="page_button"
                    style="{{currentPage+1==pageButtons[i]?'background-color:red; color:white':''}}"
                    (click)="setCurrentPage(pageButtons[i])">
              {{pageButtons[i]}}
            </button>
          </div>
          <button *ngIf="moveForwardEnabled" class="move_forward" (click)="moveCurrentPage(1)">></button>
        </div>
      </div>
    </div>
  </div>
</div>
