.wrapper {
  overflow: hidden;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.content{*/
/*  min-height: 98vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*  max-width: 1280px;*/
/*  margin-top: 5px;*/
/*}*/

/*.search_container{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.search {*/
/*  display: inline-flex;*/
/*  height: 20px;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  background-color: #ffffff;*/
/*}*/

/*.search-icon {*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  margin-right: 10px;*/
/*  order: -1;*/
/*}*/

/*.search-field {*/
/*  width: 250px;*/
/*  border: 0;*/
/*  font-size: 18px;*/
/*}*/

/*.search-field:focus {*/
/*  outline: none;*/
/*}*/

/*.search-field:focus + .search-icon {*/
/*  !* стили для иконки при фокусе поля *!*/
/*}*/

/*.results{*/
/*  padding: 5px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.page {*/
/*  height: 440px;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*.clip {*/
/*  height: 400px;*/
/*  width: 280px;*/
/*  background-color: #ffffff;*/
/*  border-radius: 6px;*/
/*  border: 0;*/
/*  padding: 10px 0;*/
/*  margin: 0 15px;*/
/*}*/

/*.clip_header{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  height: 150px;*/
/*  width: 100%*/
/*}*/

/*.clip_header img{*/
/*  width: 100%;*/
/*}*/

/*.clip_header_title{*/
/*  width: 280px;*/
/*  position: absolute;*/
/*  word-wrap: break-word;*/
/*  background: #0d7110;*/
/*  opacity: 90%;*/
/*  font-size: 18px;*/
/*  text-align: center;*/
/*  color: white;*/
/*}*/

/*.clip_info{*/
/*  word-wrap: break-word;*/
/*  padding: 5px;*/
/*}*/

/*.clip_info_container{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.clip_info_row{*/
/*  height: 33.3%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  padding-top: 10px;*/
/*}*/

/*.clip_info img{*/
/*  flex: 0 0 auto;*/
/*  padding-left:20px;*/
/*  padding-right: 5px;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*}*/

/*.clip_info_row p{*/
/*  text-align: center;*/
/*  word-wrap: break-word;*/
/*}*/

/*.clip_info p{*/
/*  font-size: 14px;*/
/*}*/

/*.info_text{*/
/*  flex: 1 1 auto;*/
/*  text-align: center;*/
/*  word-wrap: break-word;*/
/*}*/

/*.pagination_panel {*/
/*  height: 40px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.pagination_container{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.page_button{*/
/*  height: 30px;*/
/*  width: 30px;*/
/*  border: 0;*/
/*  border-radius: 15px;*/
/*  margin: 0 5px;*/
/*  font-size: 15px;*/
/*}*/

/*.move_back{*/
/*  height: 30px;*/
/*  width: 30px;*/
/*  margin-right: 30px;*/
/*  font-size: 15px;*/
/*}*/

/*.move_forward{*/
/*  height: 30px;*/
/*  width: 30px;*/
/*  margin-left: 30px;*/
/*  font-size: 15px;*/
/*}*/
